/*Body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    text-align: center;
    margin: 0px;
    background: url(../images/wallpaper.png);

}

/*Header*/
header {
    background-color: #1D8A4B;
    height: 50px;
    font-size: 120%;
}

h1 {
    margin: 0;
    padding: 0;
}

/*Box holding card game*/
.game-wrapper {
    width: 500px;
    height: 620px;
    background-color: #1D8A4B;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    border: 5px solid #1D8A4B;
    margin-top: 20px;
}

/*<ul> of cards*/
.cards {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

/*use flex to align each card in grid formation inside cards <ul>*/
.cards,
.card,
.look {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back img,
.card-front img {
    max-width: 100px;
    max-height: 142px;
    border-radius: 5px;
}

/*Style used to hide back img behind front img and flip it - 
Taken from tutorial https: //www.youtube.com/watch?v=DABkhfsBAWw&t=1553s */
.cards .card {
    width: 25%;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 25%;
}

.cards .card .look {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    position: absolute;
    transition: transform 0.25s linear;
    backface-visibility: hidden;
}

.card .card-front {
    transform: rotateY(-180deg)
}

.card.turn .card-front {
    transform: rotateY(0)
}

.card.turn .card-back {
    transform: rotateY(180deg)
}

#win-modal{
    margin-bottom: 80px;
}

.modal-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.modal-container{
    background-color: lightcyan;
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
}

#start-game-button{
    margin-bottom: 15px;
}

/*footer*/
footer {
    background-color: #1D8A4B;
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer span,
a {
    padding: 0px 20px 0px;
}

/*Social links*/
a {
    color: black;
}

a:hover {
    color: white;
}

/*Media Queries*/

@media screen and (max-width: 510px) {
    .game-wrapper {
        width: 300px;
        height: 400px;
    }

    .card-back img,
    .card-front img {
        max-width: 60px;
        max-height: 85px;
        border-radius: 5px;
    }

    footer span,
    a {
        padding: 0px 5px 0px;
        font-size: 80%;
    }
}

@media screen and (max-width: 420px) {

    .game-wrapper {
        margin-top: 10px;
    }
}