body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}



.game-wrapper {
    width: 500px;
    height: 700px;
    background-color: #1D8A4B;
    border-radius: 5px;

}

.cards {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;


}

.cards,
.card,
.look {
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-back img,
.card-front img {
    width: 100px;
    max-height: 142px;
    border-radius: 5px;

}

.cards .card {

    width: 25%;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;

}

.cards .card .look {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.25s linear;
    backface-visibility: hidden;
}

.card .card-front {
    transform: rotateY(-180deg)
}

.card:hover .card-front {
    transform: rotateY(0)
}

.card:hover .card-back {
    transform: rotateY(180deg)
}